<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New page</title>
    <link href="css/new.css" rel="stylesheet">
</head>

<body>
    <div class="header-container">
        <a href="/"><img src="/images/backArrow.png" alt="back arrow"></a>
        <h1>This is the new page</h1>
        <a href="/">Save</a>
    </div>

    <div class="textarea-container">
        <textarea rows="" cols="" placeholder="Write your day out here..."></textarea>
    </div>

</body>

</html>
