body {
  background-color: #131313;
  font-family: "SF Pro Display", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked+i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked+i {
  background-color: #247aff;
}

.form-switch input:checked+i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked+i::after {
  transform: translate3d(22px, 2px, 0);
}

::-moz-selection {
  /* Code for Firefox */
  background: #366efd;
}

::selection {
  background: #366efd;
}

.current-date-h1,
.current-time-h2 {
  text-align: center;
  font-weight: 600;
  font-size: 43px;
}

.current-time-h2 {
  font-size: 60px;
}

.todo-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-dark-container {
  box-sizing: border-box;
  padding: 0 20px;
  min-width: 630px;
  max-width: 1000px;
  width: fit-content;
  height: max-content;
  min-height: 300px;
  border: 1px solid #979797;
  border-bottom: none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
}

.new-todo-container {
  box-sizing: border-box;
  /* margin-top: auto; */
  width: 100%;
  height: max-content;
  background-color: #2b2b2b;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #979797;
}

.new-todo-container>form {
  height: 100%;
  width: 100%;
}

.new-todo-container>form>button {
  box-sizing: border-box;
  padding: 7px 0;
  width: 100%;
  height: 100%;
  background-color: #616161;
  color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  font-weight: 900;
  font-size: 32px;
}

.new-todo-container>form>button:hover {
  background-color: #454545;
  cursor: pointer;
}

.new-input-container {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #979797;
  border-top: 1px solid #979797;
  display: flex;
  justify-content: space-around;
}

.new-input-container>input,
.time-input {
  box-sizing: border-box;
  padding: 0;
  text-align: left;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 25px;
  font-family: "SF Pro Display", sans-serif;
  color: white;
  width: auto;
}

.new-input-container>input,
.time-input:focus {
  outline: none;
}

.todo-item {
  width: 100%;
  height: 75px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 32px;
  border-bottom: 1px solid #979797;
}

.todo-item p {
  margin: 0 10px;
}

.left-container {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.edit-info-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-container button {
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 40px;
  border: none;
}

.left-container button:hover {
  background-color: rgba(0, 0, 0, 10);
  cursor: pointer;
  border-radius: 25%;
}

.todo-item button>img {
  width: 100%;
  height: auto;
}

.todo-item form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.todo-item input[type="text"] {
  box-sizing: border-box;
  padding: 0;
  text-align: left;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 32px;
  color: white;
  width: 50%;
  margin-left: 15px;
}

.todo-item input[type="text"]:focus {
  outline: none;
}
